# Data Science Tools and Ecosystem

## Data science tools and ecosystem are summarised in this notebook

**Objectives**
- List of popular languages
- List of popular libraries
- Data science tools
- Arithmetical expressions in python

Some of the commonly used languages by data scientists include
1. Python
2. R
3. SQL

Some of the commonly used libraties by data scientists include
1. NumPY
2. Pandas
3. Matplotlib
4. SciPy
5. Keras

|Data Science Tools|
|--------|
|R Studio|
|Apache Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print((3 * 4) + 5)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
min = int(input("Enter minute :--> "))
print ("Hour : minute :--> ", int(min/60), " : ", min % 60)

Enter minute :--> 200
Hour : minute :-->  3  :  20

## Author
Arjun